@using FrontEnd.Enums
@model FrontEnd.Models.Asignatura.Asignatura

@{
    ViewData["Title"] = "Detalles de Asignatura";

    string ClaseEstado(int estado) => estado switch
    {
        (int)AsignaturaEnum.Aprobada => "text-bg-success",
        (int)AsignaturaEnum.Reprobada => "text-bg-danger",
        (int)AsignaturaEnum.Cursando => "text-bg-warning text-dark",
        _ => "text-bg-secondary"
    };
}

<h1>Detalles de Asignatura</h1>
<div class="card mb-4">
    <div class="card-header">
        <i class="bi bi-book"></i>
        @Model.Nombre
    </div>
    <div class="card-body">
        <p><strong>Periodo:</strong> Prototipo</p>
        <p><strong>Número de Tareas:</strong> @Model.Tareas.Count()</p>
        <p><strong>Estado:</strong> @(((AsignaturaEnum)Model.Estado).ToString())</p>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">
            <i class="bi bi-pencil"></i>
            Editar
        </a>
        <button type="button" class="btn btn-outline-danger btn-sm" data-id="@Model.Id" data-nombre="@Model.Nombre"
                data-bs-toggle="modal" data-bs-target="#deleteModal">
            <i class="bi bi-trash"></i>
            Eliminar
        </button>
    </div>
</div>

<h4>Tareas</h4>
<hr />
<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <a asp-controller="Tareas" asp-action="Create" asp-route-returnUrl="@Url.Action("Details", "Asignaturas")"
           class="btn btn-primary" asp-route-asignaturaId="@Model.Id">
            Nueva Tarea
        </a>

    </div>
</div>
<div class="card-body p-0">
    <table class="table table-hover mb-0">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Estado</th>
                <th>Fecha Creación</th>
                <th>Fecha Entrega</th>
                <th>Calificación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Tareas.Any())
            {
                @foreach (var tarea in Model.Tareas)
                {
                    <tr>
                        <td><a asp-action="Details" asp-route-id="@tarea.Id" asp-controller="Tareas" class="link-primary fw-bold">
                                            @tarea.Titulo
                                        </a>
                        </td>
                        <td><span class="badge @ClaseEstado(tarea.Estado)">@(((TareaEnum)tarea.Estado).ToString())</span></td>
                        <td>@tarea.FechaCreacion.ToString("dd/MM/yyyy")</td>
                        <td>@tarea.FechaEntrega.ToString("dd/MM/yyyy")</td>
                        <td>@tarea.Nota / @tarea.Calificacion</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@tarea.Id"
                            asp-route-returnUrl="@Url.Action("Details", "Asignaturas")"
                             asp-controller="Tareas" class="btn btn-outline-primary btn-sm">
                                <i class="bi bi-pencil"></i>
                                Editar
                            </a>
                            <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#deleteModalTarea" data-id="@tarea.Id" data-nombre="@tarea.Titulo">
                                <i class="bi bi-trash"></i>
                                Eliminar
                            </button>
                        </td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center">No hay tareas disponibles.</td>
                </tr>
            }
        </table>
    </div>


    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar está asignatura <strong id="asignaturaNombre"></strong>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <form id="deleteForm" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModalTarea" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Eliminar tarea</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    ¿Deseas eliminar la tarea <strong id="tareaNombre"></strong>?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancelar
                    </button>

                    <form id="deleteFormTarea" asp-action="Delete" method="post">
                        @Html.AntiForgeryToken()
                        @{
                            var returnUrl = Context.Request.Path + Context.Request.QueryString;
                        }
                        <input type="hidden" name="returnUrl" value="@returnUrl" />

                        <input type="hidden" id="deleteId" name="id" />

                        <button type="submit" class="btn btn-danger">
                            Eliminar
                        </button>

                        
                    </form>
                </div>

            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            const deleteModal = document.getElementById('deleteModal');
            deleteModal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;
                const asignaturaId = button.getAttribute('data-id');
                const asignaturaNombre = button.getAttribute('data-nombre');

                document.getElementById('asignaturaNombre').textContent = asignaturaNombre;

                const deleteForm = document.getElementById('deleteForm');
                deleteForm.action = '@Url.Action("Delete", "Asignaturas")/' + asignaturaId;
            });

            const deleteModalTarea = document.getElementById('deleteModalTarea');

            deleteModalTarea.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;

                const tareaId = button.getAttribute('data-id');
                const tareaNombre = button.getAttribute('data-nombre');

                document.getElementById('tareaNombre').textContent = tareaNombre;
                document.getElementById('deleteId').value = tareaId;

                const deleteForm = document.getElementById('deleteFormTarea');
                deleteForm.action = '@Url.Action("Delete", "Tareas")/' + tareaId;

            });
        </script>
    }
