@using FrontEnd.Enums
@model FrontEnd.Models.Asignatura.AsignaturaViewModel

@{
    ViewData["Title"] = "Asignaturas";   
    
}

<h1>Asignaturas</h1>

<hr />

<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <a asp-action="Index" class="btn btn-primary">
            Periodo actual
        </a>
        <a asp-action="Create" 
           asp-route-returnUrl="@Url.Action("Index", "Asignaturas", new { todos = ViewBag.Todos })"
           class="btn btn-primary">
            Nueva Asignatura
        </a>

        <a asp-action="Index"
           asp-route-todos="true"
           class="btn btn-outline-secondary">
            Ver todas
        </a>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="bi bi-calendar-event"></i>

        @if (Model.Periodo != null)
        {
            <span>Periodo Seleccionado</span>
        }
        else
        {
            <span>Todas las asignaturas</span>
        }
    </div>

    <div class="card-body">
        @if (Model.Periodo != null)
        {
            <h5>@Model.Periodo.Nombre</h5>
            <p class="mb-1">
                <strong>Fecha Inicio:</strong>
                @Model.Periodo.FechaInicio.ToShortDateString()
            </p>
            <p class="mb-0">
                <strong>Fecha Fin:</strong>
                @Model.Periodo.FechaFin.ToShortDateString()
            </p>
        }
        else
        {
            <p class="mb-0">
                Estás viendo las asignaturas de todos los períodos.
            </p>
        }
    </div>
</div>

<div class="card">

    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            <i class="bi bi-book"></i>
            Listado de Asignaturas
        </div>

        <div>
            <span class="badge text-bg-primary">
                N° @Model.TotalAsignaturas
            </span>
        </div>
    </div>
    
    <partial name="_TablaAsignaturas" model="@Model" />
    
</div>

